#action-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
	margin-bottom: 1rem;
	width: 100%;

	h3 {
		padding: 0.5rem;
	}

	.alert {
		h3 {
			padding: 0.5rem;
			color: firebrick;
		}
	}
}
