@import './icons.scss';

$vending-machine-color: #f5eb33;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	justify-content: center;
	align-items: center;
	height: 100vh;

	@import './action-bar.scss';

	#vending-machine-container {
		display: flex;
		flex-direction: row;
		height: 100vh;

		@import './purchased-items.scss';
		@import './money-maker.scss';

		#vending-machine {
			height: 600px;
			width: 500px;
			border: 20px solid $vending-machine-color;
			border-radius: 4px;
			position: relative;

			#top {
				display: flex;
				height: 75%;

				#items {
					background-color: rgba(220, 220, 220, 0.5);
					height: 100%;
					width: 75%;

					.item-row {
						display: flex;
						// justify-content: space-evenly;
						width: 100%;
						padding: 0.5rem 0;

						.item {
							width: 25%;
							display: flex;
							flex-direction: column;
							align-items: center;

							.item-name {
								height: 40px;
								text-align: center;
								margin-top: 0.25rem;
								display: flex;
								align-items: center;
								justify-content: center;
							}

							.item-information {
								background-color: #000;
								color: #fff;
								font-weight: 500;
								padding: 0.25rem 0;
								width: 100%;
								text-align: center;

								.item-code {
									margin: 0 0.25rem;
								}
							}
						}
					}
				}

				#control-panel {
					background-color: $vending-machine-color;
					height: 100%;
					width: 25%;
					position: relative;

					#screen {
						height: 20px;
						width: 50px;
						position: absolute;
						top: 50%;
						left: 47px;
						background-image: radial-gradient(
							rgba(0, 150, 0, 0.75),
							black 120%
						);

						#screen-text {
							color: #fff;
							padding: 0.1rem;
							position: absolute;
							left: 3px;
							bottom: -2px;
						}
					}

					#credit-card-reader {
						position: absolute;
						height: 15px;
						width: 50px;
						background-color: #000;
						top: 65%;
						left: 47px;
					}

					#item-code-input {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						color: black;
						width: 100px;
						position: absolute;
						left: 35px;
						top: 75%;

						.input-button {
							background-color: grey;
							color: #fff;
							padding: 0.1rem;
							width: 15px;
							border-radius: 50%;
							height: 15px;
							text-align: center;
							margin: 0.25rem;
							font-size: 0.75rem;
							font-weight: 500;

							&:hover {
								background-color: rgb(115, 115, 115);
								cursor: pointer;
							}

							&.long {
								width: 65px;
								border-radius: 20%;
							}
						}
					}
				}
			}

			#bottom {
				height: 25%;
				background-color: $vending-machine-color;
				color: #000;
				display: flex;
				justify-content: center;
				align-items: center;

				#dispenser {
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid #000;
					height: 50px;
					width: 200px;
					border-radius: 5px;

					&:hover {
						cursor: pointer;
					}

					h3 {
						text-transform: uppercase;
					}
				}
			}

			.foot {
				position: absolute;
				background-color: #000;
				width: 25px;
				height: 25px;
				bottom: -45px;
			}

			#left-foot {
				left: 10px;
			}

			#right-foot {
				right: 10px;
			}
		} // end vending machine
	}
}
